<div class="BackgroundContainer">
    <h1> Information du compte : </h1>
    <p style="display: inline-block;"> Prénom : </p>
    
    <p style="display: inline-block;"> Damien </p>
    <br/>
    <p style="display: inline-block;"> Nom : </p>
 
    <p style="display: inline-block;"> Chailley </p>
    <br/>
    <p style="display: inline-block;"> Email : </p>
    
    <p style="display: inline-block;"> dachailley@gmail.com </p>
</div>
