    
<div class="preview_card_style" (click)="OpenArticle()"> 
    <div style="display: inline-block; margin: 0px;"> <p class="highlightedStyle"> {{Name}} </p></div> <!-- Binding controller vers view -->
    <div style="display: inline-block; margin: 0px;"> <p class="highlightedStyle"> {{Price}} $</p></div> <!-- Binding controller vers view -->
  <img src="/assets/img/xbox-series-x.jpeg" alt="image" width="140px" height="70px" /> <!-- todo -->
  <p class="secondStyle"> {{Description}}</p>
</div>